name: Publish

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  VERSION: ${{ vars.XTATE_VERSION }}.${{ github.run_number }}
  CONFIGURATION: Release

run-name: "[v${{ vars.XTATE_VERSION }}.${{ github.run_number }}] ${{ github.event.head_commit.message || '<Workflow Dispatch>' }}"

concurrency:
  group: Publish
  cancel-in-progress: true
  
jobs:
  publish:
    name: Build & Publish
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4.1.7
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4.0.0
      with:
        dotnet-version: '8.0.x'
    - name: Restore
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration ${{ env.CONFIGURATION }} --no-restore -p:Version=${{ env.VERSION }}
    - name: Test
      run: dotnet test --configuration ${{ env.CONFIGURATION }} --no-restore --no-build
    - name: Pack
      run: dotnet pack --configuration ${{ env.CONFIGURATION }} --no-restore --no-build -p:PackageVersion=${{ env.VERSION }} --include-symbols -p:SymbolPackageFormat=snupkg -o bin/packages
    - name: GitHub Tag
      uses: mathieudutour/github-tag-action@v6.2
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        custom_tag : ${{ env.VERSION }}
    - name: Publish to NuGet.org
      run: dotnet nuget push bin/packages/*.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_ORG_TOKEN }}
    - name: Publish to GitHub
      run: dotnet nuget push bin/packages/*.nupkg -s https://nuget.pkg.github.com/TSSArt/index.json -k ${{ secrets.XTATE_GITHUB_TOKEN }}
